<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaohu.media_assets.mapper.StrategyMapper">

    <resultMap id="BaseResultMap" type="com.xiaohu.media_assets.model.domain.Strategy">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="strategyName" column="strategy_name" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="role" column="role" jdbcType="VARCHAR"/>
            <result property="timeRequire" column="time_require" jdbcType="TIMESTAMP"/>
            <result property="outher" column="outher" jdbcType="VARCHAR"/>
            <result property="backup1" column="backup1" jdbcType="VARCHAR"/>
            <result property="backup2" column="backup2" jdbcType="VARCHAR"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="version" column="version" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,strategy_name,description,
        role,time_require,outher,
        backup1,backup2,remark,
        is_deleted,create_time,update_time,
        version
    </sql>
</mapper>
